:root {
    /* ## Colors */

/* ### Primary */

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

/* ### Neutral */

    --Very-dark-blue-1: hsl(217, 54%, 11%);
    --Very-dark-blue-2: hsl(216, 50%, 16%);
    --Very-dark-blue-3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    /* fuente */
    --fuente: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: var(--fuente);
}

.contenedor__primario {
    min-width: 300px;
    max-width: 1440px;
    min-height: 100vh;
    padding: 20px;
    background: var(--Very-dark-blue-1);
}

.contenedor__secundario {
    width: 340px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px; 
    background: var(--Very-dark-blue-2);
    padding: 20px 25px;
}

.img__cubo {
    display: block;
    max-width: 291px;
    margin: 10px auto;
    border-radius: 10px;
}

.h2 {
    margin: 18px 0;
    color: var(--White);
}

.p__1 {
    margin: 10px 0;
    color: var(--Soft-blue);
    opacity: .4;
}

.spans {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0;
}

.spans .span__eth {
    color: var(--Cyan);
}

.spans .span__days {
    color: var(--Soft-blue);
}

.spans img {
    position: relative;
    top: 2.2px;
    margin-right: 2px;
}

.hr {
    border-bottom: 1px solid var(--Very-dark-blue-3);
    width: 100%;
    height: 5px;
}

.foto__perfil {
    width: 50px;
    display: inline;
    margin: 25px 0 6px 0;
    border: 3px solid var(--White);
    border-radius: 50%;
}

.p__2 {
    display: inline;
    position: relative;
    right: -20px;
    bottom: 25px;
    color: var(--Soft-blue);
}

.p__2--nombre {
    color: var(--White);
}

@media screen and (min-width: 800px) {
    .contenedor__primario {
        display: flex;
        align-items: center;
    }

    .contenedor__secundario {
        width: 360px;
        
        margin: 0 auto;
        border-radius: 20px; 
        background: var(--Very-dark-blue-2);
        padding: 20px 25px;
    }

    .img__cubo {
        max-width: 310px;
    }

    .h2 {
        font-size: 2rem;
    }

    .p__1 {
        font-size: 1.1rem;
    }

    .spans {
        font-size: 1.1rem;
    }

    .foto__perfil {
        width: 60px;
    }

    .p__2 {
        font-size: 1.1rem;
    }
}